.container {
  margin: 0 auto;
  width: 100vh;
  background: whitesmoke;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.slider {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.slider-active {
  left: 0;
  display: flex;
  position: absolute;
  overflow: hidden;
  transition: 1s;
}

button {
  cursor: pointer;
}